:root {
    --darkbg: #090909;
    --lightbg: #181818;
    --lighterbg: #212121;
    --mainbg: #121212;
    --softwhite: #EEE9E9;
    --blueGlow: #097AEC;
}

* {
    scroll-behavior: smooth;
}

.sr-only {
    visibility: hidden;
}

html {
    background-color: var(--darkbg);
    scroll-behavior: smooth;
    z-index: -9999;
    /* transform: translateY(-120px); */
}

body {
    z-index: -10;
    display: flex;
    width: 100%;
    height: 100vh;
}

.bodyContainer {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.mainBodySection {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    background: linear-gradient(#000000, #000b1c);
}

.pageTwo, .pageThree, .pageFour {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    border-top: 10px solid;
}

.pageTwo, .pageThree, .pageFour h1 {
    font-size: 100px;
}

.pageTwo {
    background: linear-gradient(#000b1c, #00112b);

}

.pageThree {
    background: linear-gradient(#00112b, #00183d);
}

.pageFour {
    background: linear-gradient(#00183d, #00378c);
}

.mainHeader {
    width: 100vw;
    height: min(20vw, 120px);
    background-color: var(--mainbg);
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: 45px 5px 0px #EEE9E9;
    z-index: 1;
}

.nameHolder {
    width: max-content;
    /* padding-left: 10px var(--mainbg);
    padding-right: 10px var(--mainbg); */
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    display: flex;
    float: left;
    align-items: center;
    margin-left: 40px;
    box-shadow: -655px 10px 5px -5px var(--blueGlow);
    transition: box-shadow 3s, margin-left 490ms;
    overflow: hidden;
    z-index: 2;
}

.nameHolder[aria-expanded="true"] {
    width: fit-content;
    height: 100%;
    display: flex;
    float: left;
    align-items: center;
    margin-left: 200px;
    box-shadow: -655px 10px 5px -5px var(--blueGlow);
    overflow: hidden;
    z-index: 2;
}

.nameHolder:hover {
    box-shadow: -6px 12px 5px -5px var(--blueGlow);
}

.name {
    font-size: min(14vw, 60px);
    font-weight: bold;
    color: var(--softwhite);
    cursor: pointer;
    transition: text-shadow 800ms, color 800ms;
    user-select: none;
    z-index: 3;
}

.name:hover {
    text-shadow: -5px 3px 0px var(--blueGlow);
    color: white;
}

.nameHolder:hover .imageBox {
    left: 195px;
}

.navButtonToggle {
    top: 120px;
    left: 5px;
    width: 30px;
    aspect-ratio: 1;
    border: 0;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    background-image: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.left, .right {
    background-color: var(--mainbg);
    position: fixed;
    z-index: 2;
    /* overflow: hidden; */
}

.left {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 1000vh;
    box-shadow: 5px 125px 0px 0px #EEE9E9;
    transition: transform 500ms, box-shadow 1s;
    z-index: 1;
}

.left[data-visible="false"] {
    transform: translate(-155px);
}

.left[data-visible="true"] {
    box-shadow: 5px 120px 3px 0px var(--blueGlow);
}

.panelA {
    color: white;
    width: 200px;
    padding: 25px 0px;
    position: absolute;
    z-index: 10;
}

.navButtonSection {
    /* padding: 175px 0em; */
    padding: min(30vh, 10em) 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    /* margin-top: 150px; */
    /* width: 100%; */
    /* height: 1000px; */
    justify-content: space-between;
}

.display[data-visible="false"] {
    color: transparent;
    transition: 100ms ease-out;
 }

.display[data-visible="true"] {
    transition: 200ms ease-out;
    transition-delay: 0ms;
}

.display:active {
    transform: translateY(-2px);
}

.display {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* position: absolute; */
    border-top: 5px var(--mainbg);
    box-shadow: 0px 0px 5px -5px var(--blueGlow);
    transition: box-shadow 500ms, transform 500ms, background-color 500ms, width 500ms;
    cursor: pointer;
    color: var(--softwhite);
    font-weight: bold;
    user-select: none;
    background-color: transparent;
    /* flex-direction: column; */
    list-style: none;
    border: none;
}

.navIcon {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 30px;
    aspect-ratio: 1;
    transition: box-shadow 500ms, transform 500ms;
}

.navIconHolder {
    position: fixed;
    left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 500ms, transform 500ms, left 500ms;
    background-image: transparent;
}

.display:hover[data-visible="true"] {
    box-shadow: 2px 4px 2px -2px var(--blueGlow), -5px 5px 3px var(--blueGlow), -5px -1px 5px var(--darkbg);
    transform: translate(3px, -5px);
    background-color: var(--lighterbg);
    width: 196px;
}

.display[aria-expanded="true"] {
    box-shadow: 2px 4px 2px -2px var(--blueGlow), -5px 5px 3px var(--blueGlow), -5px -1px 5px var(--darkbg);
    transform: translate(3px, -5px);
    background-color: var(--lightbg);
    width: 196px;
}

.display[aria-expanded="false"] {
    box-shadow: none;
    transform: translate(0px, 0px);
}

.resumeIcon {
    background-image: url("https://cdn-icons.flaticon.com/png/128/4212/premium/4212312.png?token=exp=1642813247~hmac=894fea53b8eae5943c82697918f2c69a");
}

.pdfHolder {
    position: absolute;
    opacity: 0;
    left: -100%;
    top: 120px;
    transition: left 500ms, opacity 500ms, transform 2s;
}

.pdfHolder[data-visible="true"] {
    opacity: 100;
}

.pdfHolder[data-visible="false"] {
    transform: translate(-100%);
}

.pdfHolder[aria-controls="pdf-closed"] {
    left: 50px;
}

.pdfHolder[aria-controls="pdf-open"] {
    left: 200px;
}

.resume {
    width: 600px;
    aspect-ratio: 0.75;
    transition: width 500ms, box-shadow 3s;
    transition-delay: width 0s, box-shadow 2s;
}

.resume[data-visible="true"] {
    width: 600px;
    aspect-ratio: 0.75;
    box-shadow: 0px 0px 5px 5px var(--blueGlow);
}

.contactIcon {
    background-image: url("https://cdn-icons.flaticon.com/png/128/542/premium/542689.png?token=exp=1642806967~hmac=4de846943ae4031abd3a0204626ac6f7");

}

.display[data-visible="false"] .navIconHolder {
    left: 156px;
    width: 40px;
}

.display:hover[data-visible="false"] .navIconHolder {
    box-shadow: -5px 5px 3px var(--blueGlow), -5px -1px 5px var(--darkbg);
    /* background-color: var(--blueGlow); */
    transform: translate(3px, -5px);
}


.contactBox {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    /* background-color: var(--softwhite); */
    z-index: -5;
}



